.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 24px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 24px;
}

.card {
  width: 200px;
  margin: 8px;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(6, 6, 6, 0.3);
  background-color: #f5c518;
  cursor: pointer;
}

.card:hover {
  background-color: black;
  color: #f5c518;
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.details {
  margin-top: 2px;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
    gap: 16px;
  }

  .card {
    width: calc(50% - 16px);
  }

  main {
    gap: 16px;
  }
}
.color-palette {
  display: flex;
}
.color-option {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}

