body {
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #f5c518;
  padding: 16px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: #f5c518;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}
.input{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  width:300px;
  height:25px;
  border-radius: 5px;
}