body {
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #f5c518;
  padding: 16px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: #f5c518;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  margin-right: 8px;
  border: none;
  border-radius: 3px;
}

.search-button {
  padding: 8px 16px;
  background-color: #f5c518;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer
}

.sign-in-button {
  padding: 8px 16px;
  background-color: #f5c518;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.Details {
  color: white;
}

.options-container {
  display: flex;
  align-items: center;
}

.option-button {
  padding: 8px 16px;
  background-color: #f5c518;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.popular-section{
  margin:10px;
}
.Popular{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border:none;
  background-color: #f5c518;
  color: black;
  padding:6px;
  border-radius: 2px;
}